@font-face {
    font-family: 'MountiesRegular';
    src: url('Fonts/MountiesRegular.otf');
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 1400px) {
    .container {
        /* max-width: 1320px; */    
        max-width: min(1720px, 100vw);
        margin: 0px auto;
    }
}

.container {
    position: relative;
}

h1 {
    font-family: "MountiesRegular";
    font-size: 80px;
    font-weight: 400;
}


*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.heading
{
    height: 37px ;
    background: #000;
    color: white;
    text-align: center;
    line-height: 37px;
    font-size: 14px;
}
.footer a {
    color: white;
}

.nav
{
    height: 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2px 0px;
}
.nav a{
    color: black;
    text-decoration: none;
}
.navbar ul li
{
    display: inline;
    margin-right: 10px;
    /* padding: 30px 0px; */
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase   ;
    
}

.info
{
    display: flex;
    
}

.info-contact
{
    display: flex;
    margin-right: 50px;
    padding-top: 25px;
}

.icons
{
    padding: 20px 50px;
   
}
/* Header end */


.banner-img
{
    position: relative;
}

.banner-txt
{
  width: 28%;
  color: white;
  position: absolute;
  top: 30%;
  left: 3%;
}
/* Banner end  */

.content
{
    /* height: 600px; */
    display: flex;
    flex-wrap: wrap;
    background: #F5F0EF;
    margin-top: -10px;
    padding: 50px 50px;
}

.content-info
{
    width: 40%;
    
}

.txt h3
{
   font-size: 18px;
   text-transform: uppercase;
   margin-bottom: 5px;
}

.txt h4
{
   font-size: 14px;
   text-transform: uppercase;
   margin-bottom: 15px;
}


.content-table
{
    width: 60%;
    
}

.content-table input
{
    background: #ffff;
    height: 60px ;
    width: 300px;
    border: none;
    margin: 5px;
}
/* content end  */

.card-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card
{
    /* background-color: blueviolet; */
    width: 40%;
    padding: 40px 0px;
    margin-right: 30px;
}

.card-info
{
    width: 80%;
}
/* <!-- card-conatiner end  --> */

.content3
{
    height: 500px;
    /* background-color: turquoise; */
    margin-top: 120px;
    margin-bottom: 120px;
}

.cont-card
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: 100px; */
    padding: 20px 0px;
    position: relative;
    
}

.card4
{
    
    margin-right: 20px;
}

.prev
{
    position: absolute;
    top: 50%;
    left: 2%;
    transform:translate(-2%,-50%)
}

.next
{
    position: absolute;
    top: 50%;
    right: 3%;
    transform:translate( -9%,-50%)
}
/* <!-- content 3 end  -->  */

.footer
{
  /* height: 500px; */
  background: #000;
  color: white;
}

.footer-info
{
    padding: 20px 50px;
}

.footer1-txt
{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
   padding: 20px 0px;
}

.footer-line
{
    width: 95%;
    height: 2px;
    background-color: white;
    margin-top: 30px;
}

input
{
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid;
    margin-right: 10px;
    /* position: relative;  */
}

.eff
{
    height: 2px;
    width: 30%;
    background-color: white;
    position: absolute;
    top: 21%;
    left: 0;
}

.Shop
{
 margin-right: 100px;
}

.Shop h3
{
    color: gray;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
}

.Shop a
{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 15px;
}

.Legal
{
 margin-right: 100px;
}

.Legal h3
{
    color: gray;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
}

.Legal p
{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 18px;
}

.social
{
 margin-right: 100px;
}

.social h3
{
    color: gray;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
}

.social p
{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 18px;
}


